In [1]:
import numpy as np 
import string
from nltk.corpus import stopwords
import pandas as pd 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_extraction.text import TfidfTransformer,TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('TrainData.txt',sep='\t')

In [3]:
a = pd.Series(df.columns)

In [4]:
df

,Answer,Question
0,Yes. It's absolutely beautiful today.,The weather is great isn't it?
1,"yes, i like that one, too.",that one. the one that's all black.
2,it's really nice.,i got it from macy's.
3,at 8:00 p.m.,when does it start?
4,"nothing, except my favorite color is blue.",what's the matter with green eyes?
...,...,...
5490,people who live in hawaii are lucky.,at night i went out to eat. the food was delic...
5491,What is Baseball,TELL ME ABOUT BASEBALL
5492,"okay, i'll take it out front right now.","you'll remember to do it, but you won't have t..."
5493,you are not exactly albert einstein yourself.,you are not smart
5494,that's six times a year!,what do you mean?

In [5]:
a = a.rename({0: df.columns[0],1: df.columns[1]})

In [6]:
df = df.append(a,ignore_index=True)

In [7]:
df.columns=['Answers','Questions']

In [8]:
df

,Answers,Questions
0,Yes. It's absolutely beautiful today.,The weather is great isn't it?
1,"yes, i like that one, too.",that one. the one that's all black.
2,it's really nice.,i got it from macy's.
3,at 8:00 p.m.,when does it start?
4,"nothing, except my favorite color is blue.",what's the matter with green eyes?
...,...,...
5491,What is Baseball,TELL ME ABOUT BASEBALL
5492,"okay, i'll take it out front right now.","you'll remember to do it, but you won't have t..."
5493,you are not exactly albert einstein yourself.,you are not smart
5494,that's six times a year!,what do you mean?
5495,Answer,Question

In [9]:
def cleaner(x):
    return [a for a in (''.join([a for a in x if a not in string.punctuation])).lower().split()]

In [10]:
Pipe = Pipeline([
    ('bow',CountVectorizer(analyzer=cleaner)),
    ('tfidf',TfidfTransformer()),
    ('classifier', DecisionTreeClassifier())
])

In [11]:
Pipe.fit(df['Questions'],df['Answers'])

Pipeline(steps=[('bow',
                 CountVectorizer(analyzer=<function cleaner at 0x0000017ADCCADB88>)),
                ('tfidf', TfidfTransformer()),
                ('classifier', DecisionTreeClassifier())])

In [12]:
#from sklearn.metrics import accuracy_score
#score = accuracy_score(df['Questions'],df['Answers'])
#print(score)

In [13]:
testdata = pd.read_csv('TestData.csv')

In [14]:
testdata.head()

   I.D.                                           Question
0  QN_1             i'll give you a speech like that, too.
1  QN_2                   i know, you're absolutely right.
2  QN_3                                        i liked it.
3  QN_4              the baby was eight pounds six ounces.
4  QN_5  I was sold a wireless service unavailable in m...

In [15]:
b=testdata['Question'].values.tolist()

In [16]:
pred= Pipe.predict(b)

In [17]:
print('Question:',testdata['Question'].iloc[55])
print()
print('Bot Response:',Pipe.predict(b)[55])

Question: you shouldn't carry your keys and pens in your pocket.

Bot Response: but that's what pockets are for.

In [18]:
print('Question:',testdata['Question'].iloc[102])
print()
print('Bot Response:',Pipe.predict(b)[102])

Question: Can you speak Japanese?

Bot Response: No.

In [19]:
print('Question:',testdata['Question'].iloc[29])
print()
print('Bot Response:',Pipe.predict(b)[29])

Question: he's old enough to be my father, yet he asked me out.

Bot Response: well, you can't blame a man for asking.

In [20]:

#Pipe.predict(['How are you?'])[0]

In [21]:
a= pd.DataFrame(Pipe.predict(b), columns=['Answer'])

In [22]:
a.head()

                                           Answer
0    do you think anyone will come to my funeral?
1               i wish it would cool off one day.
2          i'll give you a speech like that, too.
3                             it gives you money?
4  I see it here,we charged you $5 extra a month.

In [35]:
sub = pd.read_csv('TestData.csv')

In [36]:
sub.head()

   I.D.                                           Question
0  QN_1             i'll give you a speech like that, too.
1  QN_2                   i know, you're absolutely right.
2  QN_3                                        i liked it.
3  QN_4              the baby was eight pounds six ounces.
4  QN_5  I was sold a wireless service unavailable in m...

In [37]:
#df = pd.DataFrame(data)
  
# Using DataFrame.insert() to add a column
sub.insert(2, "Answer", pred, True)
  
# Observe the result
sub

,I.D.,Question,Answer
0,QN_1,"i'll give you a speech like that, too.",do you think anyone will come to my funeral?
1,QN_2,"i know, you're absolutely right.",i wish it would cool off one day.
2,QN_3,i liked it.,"i'll give you a speech like that, too."
3,QN_4,the baby was eight pounds six ounces.,it gives you money?
4,QN_5,I was sold a wireless service unavailable in m...,"I see it here,we charged you $5 extra a month."
...,...,...,...
538,QN_539,at night i went out to eat. the food was delic...,people who live in hawaii are lucky.
539,QN_540,TELL ME ABOUT BASEBALL,What is Baseball
540,QN_541,"you'll remember to do it, but you won't have t...","okay, i'll take it out front right now."
541,QN_542,you are not smart,you are not exactly albert einstein yourself.
542,QN_543,what do you mean?,"I mean, it's just coffee."

In [38]:
sub.drop(['Question'], axis = 1,inplace=True)

In [39]:
sub.to_csv('Zahid_2.csv',index=False)

In [ ]:
#sub.Answer=pred
#sub.rename(columns = {'Question':'Answer'}, inplace = True)
#sub.to_csv('Zahid_1.csv', header=True, index=False)